In [1]:
Text='I am learning NLP'

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text=['i love NLP and i will learn NLP in 2months']
#single characters are ignored by count vectorizer

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer=CountVectorizer()
vectorizer.fit(text)
vector=vectorizer.transform(text)

In [6]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2months': 0}
[[1 1 1 1 1 2 1]]

In [7]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [8]:
CountVectorizer?

In [9]:
df=pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out())
df

   2months  and  in  learn  love  nlp  will
0        1    1   1      1     1    2     1

In [10]:
text='i am learning NLP'

In [12]:
pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
     -------------------------------------- 624.3/624.3 kB 6.5 MB/s eta 0:00:00
Collecting nltk>=3.9
  Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: click in c:\users\harsha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\harsha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\harsha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.64.1)
Requirement already satisfied: joblib in c:\users\harsha\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.1.0)
Requirement already satisfied: colorama in c:\users\harsha\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.7
    Uninstalling nltk-3.7:
      Successfully uninstalled nltk-3.7
Successfully installed nltk-3.9.1 textblob-0.19.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['i']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [15]:
TextBlob(text).ngrams(2)

[WordList(['i', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [16]:
TextBlob(text).ngrams(3)

[WordList(['i', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [17]:
TextBlob(text).ngrams(4)

[WordList(['i', 'am', 'learning', 'NLP'])]

In [18]:
text=['The quick brown fox jumped over the lazy dog.','The dog.','The fox']

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer=TfidfVectorizer()
vectorizer.fit(text)

print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]